/* .SliderStyles {
    height: "100%";
    position: "relative";
}

.SlideStyles {
    width: "100%";
    height: "100%";
    border-radius: 10px;
    background-position: center;
    /* object-fit: cover; */
/* background-image: url(${slides.[currentIndex].url}); */
/*  background-image: image("_MG_2984.jpg");
     background-image: "url(/_MG_2984.jpg)" */
/*}  */

.pre-next-button-span {
    padding: 20px;
    margin: 10%;
}