.mammals-container {
    display: block;
    max-height: 100vh;
    margin: 0, 0;
    padding: 0%;
    object-fit: cover;
    /* background-color: brown; */
    align-items: center;
}

.col-main-img-mammals {
    min-width: 80%;
    min-height: 88vh;
    padding: 0%;
    margin: 10px, 10px;
    object-fit: contain;
}

.img-info-mammals {
    background-color: rgb(176, 171, 204);
}