.carousel-inner {
    transition-duration: 0.5s;
    /* Adjust this value as needed */
}

.carousel-item {
    position: relative;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
    /* padding-bottom: 56.25%; */

}

.container .soleBirdImageCol {
    margin: 0% !important;
    padding: 0% !important;
}

.row {
    display: flex;
    align-items: stretch;
    margin: 0% !important;
    padding: 0% !important;

}

img-fluid {
    max-width: 100% !important;
    /* height: auto; */
    max-height: 100% !important;
    /* flex-grow: 1; */

    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    object-fit: contain !important;



}

/* .footer-col {
    background-color: #c93b3b;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
} */